<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MessageSendingSystem" connectionString="mongodb://10.12.246.9:27017/MessageSending" />
  </connectionStrings>
  <appSettings>
    <add key="corpId" value="wxf4cdff3841975b54" />
    <add key="corpSecret" value="xBV8VWdvKYb8f4EyIbfYB6zPR0IYwD12JyiGjCADPWrVAGRXVGiANrKAOa1Jm21S" />
  </appSettings>
</configuration>